@import "//js.arcgis.com/3.15/dijit/themes/tundra/tundra.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font: 13px sans-serif;
  font-family: "Segoe UI";
}

label {
  display: block;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table-row {
  display: table-row;
}

.my-btn{
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor:pointer;
  min-width: 70px;
  display:inline-block;
  /*padding:0 15px;*/
  line-height: 33px;
  font-size:14px;
  text-align:center;
  vertical-align:middle;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius: 5px;
  border: 1px solid transparent;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}

.dGridContainer{
  position: absolute; 
  top: 0px; 
  bottom: 50px; 
  width: 100%;
}

.btnContainer{
  position: absolute; 
  bottom: 0px; 
  width: 100%;
}

.btnParent{
  position: relative; 
  text-align: center;
}

.dgrid.list {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.fieldItemLabel{
  position: relative;
  margin-top: 5px;
}

.fieldItemValue{
  position: relative;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
}

.rowOn{
  display: block;
}

.rowOff{
  display: none;
}

.baseImage{
  vertical-align:middle;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  display: inline-block;
  margin-left: 5px;
  background-size: 11px 7px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #083F77;
}

.configBaseOrderImage{
  vertical-align:middle;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  display: inline-block;
  margin-left: 5px;
}

.upImage{
  background-image: url(../SummaryReport/images/default_nav_up.png);
}

.downImage{
  background-image: url(../SummaryReport/images/default_nav_down.png);
}

.titleDiv {
  cursor: pointer;
  height: 30px;
  width: 100%;
  line-height: 30px;
  overflow: hidden;
}

.title {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin-left: 8px;
  display: inline;
}

.titleDiv:hover .image-up-highlight{
  background-image: url(../SummaryReport/images/nav_up.png);
  background-color: #083F77;
}

.titleDiv:hover .image-down-highlight{
  background-image: url(../SummaryReport/images/nav_down.png);
  background-color: #083F77;
}

.bottomBorder {
  border-bottom: 1px solid #dcdcdc;
}

.configRowHeader{
  height: 30px; 
  width: 100%; 
  margin-top: 10px;
  cursor: pointer;
}

.configRowHeader:hover .image-up-highlight{
  background-image: url(../SummaryReport/images/nav_up.png);
  background-color: #083F77;
}

.configRowHeader:hover .image-down-highlight{
  background-image: url(../SummaryReport/images/nav_down.png);
  background-color: #083F77;
}

.configText{
  float: left; 
  margin-left: 6px;
}

.configRowElementContainer{
  height: 340px; 
  margin-left: 20px;
  margin-top: 10px;
  overflow: hidden;
}

.configOrderContainer{
  height: inherit;
  text-align: center;
}

.configUpOrder{
  cursor: pointer;
  /*background-image: url(../SummaryReport/images/up_disabled.png);*/
}

.configUpOrder:hover{
  background-image: url(../SummaryReport/images/up_hover.png);
}

.configDownOrder{
  cursor: pointer;
  /*background-image: url(../SummaryReport/images/down_disabled.png);*/
}

.configDownOrder:hover{
  background-image: url(../SummaryReport/images/down_hover.png);
}

.configHeader{
  font-weight: bold; 
  background-color: #dcdcdc; 
  text-align: center;
}

.configTextBox{
  width: 95%;
}

.borderContainer{
  border: 1px solid #dcdcdc;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.test{
  width: 90%;
  height: 30px;
  border: 1px solid black;
  overflow-x: hidden;
}

.tableTest{
  border: 1px solid #dcdcdc;
  /*border-collapse: collapse;*/
  height: inherit;
  width: 90%;
}

.tableTest tr:hover {
  background-color: #C5DDF7;
}

.tableTest tr:hover .defaultUp{
  background-image: url(../SummaryReport/images/up_disabled.png);
}

.tableTest tr:hover .defaultDown{
  background-image: url(../SummaryReport/images/down_disabled.png);
}

td {
    border: 1px solid #dcdcdc;
}

.tableTest2{
  padding: 5px;
}

.t{
  width: 90%;
}

.list{
  overflow: auto;
  height: 290px;
  width: 100%;
}

.optionsCheckbox{
  float: left;
}

.optionsLabel{
  float: left;
  margin-right: 20px;
}

.optionsContainer{
  height: 20px; 
  width: 100%; 
  margin-bottom: 20px;
}
